@charset "utf-8";
@import "reset.css";
@import "btn.css";
@import "table.css";

/* ============== common ============== */
html {
	height:100%
}
body {
    font-family: Dotum, '돋움', Malgun Gothic, '맑은 고딕', Arial, Helvetica, sans-serif;
    font-size: 12px;
	width:100%;
	min-width:1024px;
	height:100%;
    color: #454545;
}
#popup_body {
	min-width:100%
}
#header { width: 100%;}


#gotop {position: absolute; left: 1010px; bottom: 150px; width: 100px; height: 100px;}

#contents {
	width:100%;	
	height:calc(100% - 122px); 

}
/* ============== blind contents ============== */
.blind,
#top01,
#top02,
#bottom {
    position: absolute;
    left: -9999em;
}
#bottom { /* display: inline-block; */ }

#top01,
#top02 {
    width: 100%;
    display: block;
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    color: #fff;
}
#top01 { background: #009964; }
#top02 { background: #4f4146; }
#top a:focus {
    position: absolute;
    top: 0;
    left: 0;
    color: #fdfdfd;
    z-index: 10000;
}
#bottom:focus {
    left: 0;
    width: 100%;
    display: block;
    font-size: 1em;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    background: #2d66a3;
}


/* ============== etc ============== */
.textR { text-align: right; }
.textL { text-align: left; }
.textC { text-align: center; }

.floatR { float: right; }
.floatL { float: left; }
.floatC:after {
    content: "";
    display: block;
    clear: both;
}
.floatC { *zoom: 1; }

.dBlock { display: block; }
.imgM { vertical-align: middle; }

.cursorP { cursor: pointer; }

.mCenter { margin: 0 auto; }
.marginT01 { margin-top: 1px; }
.marginT02 { margin-top: 2px; }
.marginT03 { margin-top: 3px; }
.marginT05 { margin-top: 5px; }
.marginT06 { margin-top: 6px; }
.marginT07 { margin-top: 7px; }
.marginT08 { margin-top: 8px; }
.marginT10 { margin-top: 10px; }
.marginT12 { margin-top: 12px; }
.marginT15 { margin-top: 15px; }
.marginT20 { margin-top: 20px; }
.marginT30 { margin-top: 30px; }
.marginT50 { margin-top: 50px; }
.marginT80 { margin-top: 80px; }
.marginT250 { margin-top: 250px; }

.marginR01 { margin-right: 1px; }
.marginR02 { margin-right: 2px; }
.marginR03 { margin-right: 3px; }
.marginR05 { margin-right: 5px; }
.marginR07 { margin-right: 7px; }
.marginR10 { margin-right: 10px; }
.marginR20 { margin-right: 20px; }
.marginR25 { margin-right: 25px; }
.marginR30 { margin-right: 30px; }
.marginR35 { margin-right: 35px; }
.marginR50 { margin-right: 50px; }
.marginR70 { margin-right: 70px; }

.marginB03 { margin-bottom: 3px; }
.marginB05 { margin-bottom: 5px; }
.marginB07 { margin-bottom: 7px; }
.marginB10 { margin-bottom: 10px; }
.marginB20 { margin-bottom: 20px; }
.marginB30 { margin-bottom: 30px; }
.marginB50 { margin-bottom: 50px; }

.marginL01 { margin-left: 1px; }
.marginL02 { margin-left: 2px; }
.marginL03 { margin-left: 3px; }
.marginL05 { margin-left: 5px; }
.marginL07 { margin-left: 7px; }
.marginL10 { margin-left: 10px; }
.marginL13 { margin-left: 13px; }
.marginL15 { margin-left: 15px; }
.marginL20 { margin-left: 20px; }
.marginL25 { margin-left: 25px; }
.marginL30 { margin-left: 30px; }
.marginL50 { margin-left: 50px; }
.marginL65 { margin-left: 65px; }
.marginL80 { margin-left: 80px; }
.marginL101 { margin-left: 101px; }
.marginL105 { margin-left: 105px; }
.marginL115 { margin-left: 115px; }
.marginL138 { margin-left: 138px; }
.marginL267 { margin-left: 267px; }
.marginL325 { margin-left: 325px; }

.paddingT03 { padding-top: 3px; }
.paddingT05 { padding-top: 5px; }
.paddingT06 { padding-top: 6px; }

.paddingR07 { padding-right: 7px; }
.paddingR20 { padding-right: 20px; }

.paddingB03 { padding-bottom: 3px; }
.paddingB05 { padding-bottom: 5px; }
.paddingB10 { padding-bottom: 10px; }
.paddingB30 { padding-bottom: 30px; }
.paddingB50 { padding-bottom: 50px; }

.fBold { font-weight: bold; }
.fBlack { color: #000; }
.fBlue { color: #2e74b2; }
.fRed { color: #bf4343; }
.fOrange { color: #ff5c33; }
.fGrey { color: #555; }
.fLighrgrey { color: #a8a8a8; }
.fGreen { color: #3da552; }
.fYellow { color: #E7D447; }
.fGreenyellow { color: #4d7f12; }
.fPink { color: #fa22f7; }
.fPurple { color: #aa3ad5; }
.fBrown { color:#c18c4c }
.fWhite { color:#fff }

.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f25 { font-size: 25px; }
.f28 { font-size: 28px; }

.lh5 { line-height:5px }
.lh18 { line-height:18px }
.lh20 { line-height:20px }
.lh24 { line-height:24px }

.ls0 { letter-spacing:0 }

.fw400 { font-weight:400 }

.lPink {
    color: #fa22f7;
    border: 2px solid #fa22f7;
    padding: 3px 20px;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
    background: #fff;
}

[class^=rlabel] {
    background: #fff;
    display: inline-block;
    padding: 2px 7px;
    font-size: 11px;
    border-radius: 3px;
}

.rlabelG { color: #67b01c; border: 1px solid #67b01c; }
.rlabelB { color: #0698c9; border: 1px solid #0698c9; }
.rlabelR { color: #e42b2e; border: 1px solid #e42b2e; }
.rlabelP { color: #fa22f7; border: 1px solid #fa22f7; }
.rlabelO { color: #e1832f; border: 1px solid #e1832f; }
.rlabelBr { color: #8b726d; border: 1px solid #8b726d; }
.rlabelE { color: #4eaa97; border: 1px solid #4eaa97; }
.rlabelPur { color: #84259d; border: 1px solid #84259d; }


[class^=label] {
    color: #fff;
    font-size: 11px;
    padding: 3.5px 10px 3px;
    border-radius: 10px;
	line-height:14px;
	height:13px;
    display: inline-block;
}

.labelB { background: #0faaaa; }
.labelG { background: #979797; }
.labelO { background: #ff4a26; }
.labelGr { background: #74a53d; }
.labelP { background: #9966cc; }

.labelDg { background: #969696; } 
.labelY { background: #EFAD20; } 

.group-color { padding: 8px 10px; }

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #9f9f9f;
    box-shadow: 1px 0 0 #fff inset;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.ellipsis a { color: #787878; }
.ellipsis a:hover { text-decoration: underline; }

.form-label {
    height: 28px;
    line-height: 28px;
}



/* ============ grid ============ */
.grid12 { width: 99.99999998999999%; *width: 99.94680850063828%; }
.grid11 { width: 91.489361693%; *width: 91.4361702036383%; }
.grid10 { width: 82.97872339599999%; *width: 82.92553190663828%; }
.grid9 { width: 74.468085099%; *width: 74.4148936096383%; }
.grid8 { width: 65.95744680199999%; *width: 65.90425531263828%; }
.grid7 { width: 57.446808505%; *width: 57.3936170156383%; }
.grid6 { width: 48.93617020799999%; *width: 48.88297871863829%; }
.grid5 { width: 40.425531911%; *width: 40.3723404216383%; }
.grid4 { width: 31.914893614%; *width: 31.8617021246383%; }
.grid3 { width: 23.404255317%; *width: 23.3510638276383%; }
.grid2 { width: 14.89361702%; *width: 14.8404255306383%; }
.grid1 { width: 6.382978723%; *width: 6.329787233638298%; }

#wrapper {
	height:100%
}

/* ============== top ============== */
.head {
	background:#1495b4 url(../images/common/top_bg.png) no-repeat right top;
	height:74px;
	border-bottom:5px solid #6ad674
}
.head > h1#logo {
	padding:13px 15px 0;
	float:left
}
.top-nav {
	float:right;
	padding:20px 10px 20px 0px
}
.top-name {
	float:right;
	padding:28px;
	color:#fff;	
	background:url(../images/icons/icon_member.png) no-repeat left 25px
}
.user-nav {
	overflow:hidden;
	background:rgba(0, 0, 0, 0.5);
	padding:8px;
	border-radius:16px;
}
.user-nav li {
	float:left
}
.user-nav li a {
	color:#ccc;
	font-size:11px;
	padding:0 10px 0;
}

#lnb {	
	float:left;
	width:236px;
    background:#fff
}
#lnb li a {
	display:block;
	color:#32415a;
	width:100%;
	height:44px;
	line-height:44px;
	background:url(../images/common/lnb_arrow.png) no-repeat 213px 20px;
	border-bottom:1px solid #ebebeb
}
#lnb li a.selected,
#lnb li a:hover {
	color:#ff8733
}

.icon_menu01 {
	display:inline-block;	
	margin-left:10px;
	width:25px;
	height: 18px;
	background:url(../images/icons/icon_menu01.png) no-repeat left top
}
.icon_menu01.selected {
	background:url(../images/icons/icon_menu01.png) no-repeat left bottom
}
.icon_menu02 {
	display:inline-block;
	margin-left:10px;
	width:25px;
	height: 18px;
	background:url(../images/icons/icon_menu02.png) no-repeat left top
}
.icon_menu02.selected {
	background:url(../images/icons/icon_menu02.png) no-repeat left bottom
}
.icon_menu03 {
	display:inline-block;
	margin-left:10px;
	width:25px;
	height: 18px;
	background:url(../images/icons/icon_menu03.png) no-repeat left top
}
.icon_menu03.selected {
	background:url(../images/icons/icon_menu03.png) no-repeat left bottom
}
.icon_menu04 {
	display:inline-block;
	margin-left:10px;
	width:25px;
	height: 18px;
	background:url(../images/icons/icon_menu04.png) no-repeat left top
}
.icon_menu04.selected {
	background:url(../images/icons/icon_menu04.png) no-repeat left bottom
}
.icon_menu05 {
	display:inline-block;
	margin-left:10px;
	width:25px;
	height: 18px;
	background:url(../images/icons/icon_menu05.png) no-repeat left top
}
.icon_menu05.selected {
	background:url(../images/icons/icon_menu05.png) no-repeat left bottom
}
.icon_menu06 {
	display:inline-block;
	margin-left:10px;
	width:25px;
	height: 18px;
	background:url(../images/icons/icon_menu06.png) no-repeat left top
}
.icon_menu06.selected {
	background:url(../images/icons/icon_menu06.png) no-repeat left bottom
}

#lnb01:hover .icon_menu01 {
	background:url(../images/icons/icon_menu01.png) no-repeat left bottom
}
#lnb02:hover .icon_menu02 {
	background:url(../images/icons/icon_menu02.png) no-repeat left bottom
}
#lnb03:hover .icon_menu03 {
	background:url(../images/icons/icon_menu03.png) no-repeat left bottom
}
#lnb04:hover .icon_menu04 {
	background:url(../images/icons/icon_menu04.png) no-repeat left bottom
}
#lnb05:hover .icon_menu05 {
	background:url(../images/icons/icon_menu05.png) no-repeat left bottom
}
#lnb06:hover .icon_menu06 {
	background:url(../images/icons/icon_menu06.png) no-repeat left bottom
}
#lnb07:hover .icon_menu01 {
	background:url(../images/icons/icon_menu01.png) no-repeat left bottom
}

#lnb .lnb_2depth {
	background:#fcfcfc;
	border-bottom:1px solid #ebebeb
}
#lnb .lnb_2depth > li a {
	height:30px;
	color:#6f6f6f;
	margin-left:20px;
	line-height:30px;
	border:none;
	background:none
}
#lnb .lnb_2depth > li a:hover {
	color:#6f6f6f ;
	font-weight:bold
}
#lnb .lnb_2depth li.btn_up {
	float:right
}


/* ============== contents ============== */
#contents_body {
	float:left;
	width:calc(100% - 237px);
	min-height:100%;
	border-left:1px solid #ddd;
	background:url(../images/common/cont_bg.png) repeat left top
}
#cont_head {
	position:relative;
	width:100%;
	padding:24px 0;
	background:#fff;
	border-bottom:1px solid #dddddd
}
#cont_head > .location {
	position:absolute;
	font-size:11px;
	color:#33435d;
	right:10px;
	top:30px;
	text-align:center
}
#cont_head .location > em {
	font-weight:bold
}
h2.h2_tit {
	font-size:18px;
	color:#33435d;
	line-height:30px;	
	margin-left:30px;
	padding:0 0 0 34px;
	background:url("../images/icons/icon_h2.gif") no-repeat left 4px
}
h3.sub_stit {	
	font-size:12px;
	margin:30px 0 10px
}
.cont_area {
	margin:23px 23px 40px 23px;
}
.con_text {
	padding:20px 30px;
	color:#666666;
	border:1px solid #c5ccd6;
	border-radius:6px;
	line-height:18px;
	background:#fff
}
.l_title {
	display:inline-block;
	width:60px;
	font-weight:bold;
	font-size:12px;
	padding-left:8px;
	color:##666666;
	background:url(../images/common/icon_label_title.gif) no-repeat left 5px
}
.divice {
	display:block;
	height:8px;
}
.list_no {
	color:#7086b5;
	font-size:11px;
	margin:29px 0 12px 0
}
.list_btn {
	text-align:right;
	margin:29px 0 12px 0
}
.list_select { 
	position:relative;
	height:35px;
	line-height:35px;
	color:#7086b5;
	font-size:11px;
	margin:29px 0 0 0
}
.list_select > select {  
	position:absolute;
	right:0;
	top:0
}
#go_to_top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 9999;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 30px;		
	background:url(../images/common/btn_top.png) no-repeat left top;
	background-size:38px;
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	z-index:10
}
#go_to_top:hover {
	background:url(../images/common/btn_top.png) no-repeat left top;
	background-size:38px;
}
#go_to_top.show {
	opacity: 1;
}

/* ==============  푸터  ============== */
#footer {
	clear:both;
	background:#00747d;
	height:44px;
	line-height:44px;
	text-align:center;
	color:#fff
}

/* ============== 팝업 =============== */
#popup {
	width:100%
}
#pop_header {
	background:#1495b4 url(../images/common/top_bg.png) no-repeat right top;
	height:60px;
	border-bottom:3px solid #6ad674
}
#pop_header > h2 {
	color:#fff;
	font-size:14px;
	padding:22px
}
#popup_contents {
	padding:20px
}
.btn_set {
	text-align:center;
	padding:10px 0;
}


/* ======== tab ======= */
.tab { 
	overflow:hidden;
	border-bottom:1px solid #1190af;
	margin:23px 23px 10px 23px;
}
.tab li { float:left }
.tab li a {
	display:inline-block;
	padding:0 15px;
	height:35px;
	line-height:35px;
	border-top:1px solid #e0e0e0;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	color:#777;
	border-radius:4px 4px 0 0;
	box-shadow: 0 1px 0 0 #fff inset;
	background: #f7f7f7;
}
.tab li a.selected {
	color:#fff;
	background:#1190af;
	border-color:#1190af;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset;
}


/* ======== 추가 : 권익센터 요청에 의해 input 태그의 글자크기 조절 ======= */
.input_font_size14 {
	font-size: 14px !important;
	letter-spacing: 0px !important;
}

.stab_title {

	float:none;

	display:block;

	font-size:14px;

	font-weight:700;

	color:#666;

	padding-left:8px;

	margin-bottom:10px;

	background:url(../images/common/icon_label_title.gif) no-repeat left 4px

}

/* ======== 추가 : 기본통계 스탭버튼 ======= */
.stab_title {

	float:none;

	display:block;

	font-size:14px;

	font-weight:700;

	color:#666;

	padding-left:8px;

	margin-bottom:10px;

	background:url(../images/common/icon_label_title.gif) no-repeat left 4px

}

.stab_button {

	margin:25px 0 0px 0;

	overflow:hidden;

	border-bottom:1px solid #1b9a9f

}

.stab_button button.stab_btn {

        float:left;

	border: 1px solid #c4c4c4;

       font-size: 12px;

       background: #f7f7f7;

       color: #757575;

	padding:5px 10px 7px;

	border-radius:4px 4px 0 0;

	margin:3px -2px -1px 1px;

	box-shadow:0px 1px 1px rgba(255, 255, 255, 0.38) inset

}

.stab_button button.active {    

	background:#fff;

	color:#1b9a9f;

	border:1px solid #1b9a9f;

	margin-right:-1px

}


/* 2018-07-10 코드관리 : 권리구제지원 전용 */
.code_info_area {
	overflow:hidden
}
.code_info_area .left {
	float:left;
	width:49%
}
.code_info_area .right {
	float:right;
	width:49%;
}
.code_info_area .right .con_text {
	height:140px
}
.leftBox {
	float:left;
	width:88%;
	height: 140px;
}

@media screen and (max-width:1473px) {
	.code_info_area .left {
		float:none;
		width:100%;
		margin-bottom:10px;
		overflow:hidden;
	}
	.code_info_area .left .leftBox {
		width:calc(100% - 62px)
	}
	.code_info_area .right {
		float:none;
		width:100%;
	}
}
/* 2018-07-10 코드관리 : 권리구제지원 전용 ::: END */

/* 

2019-07-09 고도화2차 

*/
/* 메뉴 선택처리 클래스 추가 */
.cmm_selected {
	font-weight: bold;
}

/* 코드설명 팝업 - 20190929 */
.pop-layer {  
	position: absolute;
	left: 1282px;
	top: 450px; 
	display:inline-block;
	vertical-align: middle;
	width:350px;
	height:auto;
	background:url(../images/common/popup_bg.jpg) no-repeat 0 0;
	border:none;
	z-index:10;
	border-radius:10px
}
.pop-layer .pop-inner-container {
	margin:10px;
	padding:10px 0 11px 14px;
	line-height:20px;
	background:rgba(255, 255, 255, 0.85);
	border-radius:10px;
}
.pop-layer .pop-content {
	text-align: left;
	min-height:240px; 
	max-height:240px;
	overflow-y: auto;
}
.pop-layer .btn-container {
	height:27px;
	padding:10px;
	line-height:27px;
	border-top:1px solid rgba(255, 255, 255, 0.5)
}
.pop-layer .no-more-see {
	float: left;
	color:#444
}
.pop-layer .no-more-see input {
	vertical-align:middle;
}
.pop-layer .btn-right {
	float: right;
	text-align: right;
}
.pop-layer a.closeCodeDescPopup {
	display: inline-block;
	height: 25px;
	padding: 0 14px 0;
	border: 1px solid #fff;
	background-color: #fff;
	font-size: 13px;
	color: #666;
	line-height: 25px;
	text-decoration: none;
	border-radius:2px
}