@charset "utf-8";

button { cursor: pointer; }

.buttonNo,
.buttonSS,
.buttonS,
.buttonM,
.buttonLogin,
a.buttonS,
a.buttonM,
a.buttonLogin {
    color: #fff;
    font-family: Arial, sans-serif;	
	letter-spacing:-1px;
    display: inline-block;
}

.buttonNo {
	border:none;
	background:none;
}
.buttonS { font-size: 11px; line-height: 17px; }
.buttonM { font-size: 12px; line-height: 17px; }

.buttonSS { padding: 3px 3px 3.5px; }
.buttonS { padding: 3px 10px 4.5px; }
.buttonM { padding: 7px 15px 8.5px; }
.buttonLogin { padding:6px 10px  6.5px }

a.buttonSS:hover,
a.buttonS:hover,
a.buttonM:hover,
a.buttonL:hover,
.buttonLogin:hover { text-decoration: underline; }

.bWhite {
    border: 1px solid #c4c4c4;	
	border-radius:4px;
    background: #fff;
	color:#757575;
}
.bWhite:active {
    background:#a2a2a2;
	color:#fff;
}
.bGray {
    border: 1px solid #c4c4c4;
	border-radius:2px;
	font-size:12px;
	box-shadow: 0 1px 0 0 #fff inset;
    background:#f7f7f7;
	color:#757575;
}
.bGray:active {
    background: #a2a2a2;
	color:#fff;
	box-shadow: none
}
.bDarkGray {
    border: 1px solid #999;
	border-radius:2px;
	font-size:12px;
    background: #888888;
	color:#fff;
}
.bDarkGray:active {
    background:#5e5e5e;
	color:#fff;
}
.bBlack {
    border:1px solid #383838;
	border-radius:2px;
	font-size:12px;
	box-shadow: 0 1px 0 0 #5e5e5e inset;
    background: #484848;
	color:#fff;
}
.bBlack:active {
    background:#5e5e5e;
	color:#fff;
	box-shadow: none
}
.bRed {
    border:1px solid #c36666;
	border-radius:2px;
	font-size:12px;
	box-shadow: 0 1px 0 0 #feafaf inset;
    background: #f48d8d;
	color:#fff;
}
.bRed:active {
    background:#c36666;
	color:#fff;
	box-shadow: none
}
.bYellow {
    border:1px solid #dfa85b;
	border-radius:2px;
	font-size:12px;
	box-shadow: 0 1px 0 0 #fed9a4 inset;
    background: #fdcb82;
	color:#8b6345;
}
.bYellow:active {
    background:#dfa85b;
	color:#fff;
	box-shadow: none
}

.bOrange {
    border: 1px solid #ff5c33;
	border-radius:2px;
	font-size:12px;
    background: #f37000;
	color:#fff;
}
.bOrange:active {
    background:#ff5c33;
	color:#fff;
}

.bDarkGreen {
    border: 1px solid #054a52;
	border-radius:2px;
	font-size:12px;
    background: #0b5a72;
	color:#fff;
}
/*== added by dylan ===*/
.bSteelBlue {
    border:1px solid #1999a3;
	border-radius:2px;
	font-size:12px;
    background: #1999a3;
	box-shadow: none
	color:#fff;
}

/* 추가 : dylan 2016.04.15 */
[class^=button][disabled] {
	background:#C1C8D2;
	border:1px solid #9CA4AF;
	cursor: default;
	color:#fff;
	box-shadow: 0 0 #fff;
}


/* ============== icons ================ */
.icon_up,
.icon_all,
.icon_modify,
.icon_logout,
.icon_plus,
.icon_delete,
.icon_delete02,
.icon_download,
.icon_reload,
.icon_preview,
.icon_close,
.icon_add,
.icon_minus,
.icon_save,
.icon_check,
.icon_updown,
.icon_search,
.icon_step_up,
.icon_step_down { display:inline-block;padding:0 10px 0 0;width:16px;height:16px;vertical-align:middle }

.icon_up { background:url(../images/icons/icon_up.png) no-repeat left 2px }
.icon_all { padding:0 0 0 3px;background:url(../images/icons/icon_all.png) no-repeat left 2px }
.icon_modify { padding:0 0 0 3px;background:url(../images/icons/icon_modify.png) no-repeat left top }
.icon_logout { padding:0 0 0 3px;background:url(../images/icons/icon_logout.png) no-repeat left top }
.icon_plus { padding:0 0 0 3px;background:url(../images/icons/icon_plus.png) no-repeat left 2px }
.icon_delete { padding:0 0 0 3px;background:url(../images/icons/icon_delete.png) no-repeat left 2px }
.icon_download { padding:0 0 0 8px;background:url(../images/icons/icon_download.png) no-repeat left -2px }
.icon_reload { padding:0 0 0 3px;background:url(../images/icons/icon_reload.png) no-repeat left 2px }
.icon_delete02 { padding:0 0 0 3px;background:url(../images/icons/icon_delete.png) no-repeat center 2px }
.icon_close { padding:0 0 0 3px;background:url(../images/icons/icon_close.png) no-repeat right 2px }
.icon_preview { padding:0 13px 0 0;background:url(../images/icons/icon_preview.png) no-repeat right 2px }
.icon_add { padding:0 13px 0 0;background:url(../images/icons/icon_add.png) no-repeat right top }
.icon_minus { padding:0 0 0 13px;background:url(../images/icons/icon_minus.png) no-repeat left top }
.icon_save { padding:0 13px 0 0;background:url(../images/icons/icon_save.png) no-repeat right 2px }
.icon_check { padding:0 0 0 3px;background:url(../images/icons/icon_check.png) no-repeat left 2px }
.icon_updown { padding:0 0 0 3px;background:url(../images/icons/icon_updown.png) no-repeat left 1px }
.icon_step_up { padding:0 0 0 3px;background:url(../images/icons/icon_step_up.png) no-repeat left top }
.icon_step_down { padding:0 0 0 3px;background:url(../images/icons/icon_step_down.png) no-repeat left top }
.icon_step_up:hover { padding:0 0 0 3px;background:url(../images/icons/icon_step_up_over.png) no-repeat left top }
.icon_step_down:hover { padding:0 0 0 3px;background:url(../images/icons/icon_step_down_over.png) no-repeat left top }
.icon_search { padding:0 5px 0 3px;background:url(../images/icons/icon_search.png) no-repeat left top }



/* === login === */
#login {
	width:100%;
	height:100%;
	background:	url(../images/login/login_bg02.png) no-repeat center 50%,
	url(../images/login/login_bg.jpg) repeat-y center top
}
.login_box {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-302px;
	margin-top:-289px;
	width:605px;
	height:579px;
	background:url(../images/login/loginbox_bg.png) repeat left top
}
.login_form {
	position:relative;
	margin:196px 0 0 115px
}
.login_form li {
	margin-top:5px
}
.login_btn {
}
.login_form li input {
	padding:15px 7px 13px 7px;
}
.login_form li button {
	color:#fff;
	font-size:14px;
	padding:20px 0;
	width:256px;
	border:1px solid #4ab961;
	background:#4ab961;
	border-radius:4px;
	box-shadow:0px 1px 1px rgba(255, 255, 255, 0.38) inset
}
.login_form li button:active {
	background:#2c8c40;
	box-shadow:none;
	border:1px solid #2c8c40;
}