@charset "utf-8";

/* ===== loading ===== */
div#loading {
	display: none;
}

div#loading .protector {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.02; /* ie9 higher */
	filter:alpha(opacity=2); /* ie7 */
	-ms-filter:alpha(opacity=2); /* ie8 */
	z-index:10001;
}

div#loading .board {
	/*display: none;*/
	position:fixed; 
	top:50%; 
	left:50%; 
	float:left; 
	overflow:hidden;
	padding: 40px 10px 0px 10px;
	margin: -80px 0px 0px -100px;

	width: 200px;
	height: 100px;
	text-align: center;
	background: #fff url(/images/loading.gif) no-repeat center 65%;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow:0px 3px 10px #777;
	z-index:10001;
}
