@charset "utf-8";

/* ===== Table pagination ===== */
.tPages { 
    text-align: center;
    margin: 30px 0 ;
}
.tPages ul li {
    display: inline-block;
    text-align: center;
    margin: 0 2px;	
    border: 1px solid #d3d3d3;
	background:#fff;
	box-shadow:0 1px 0 0 #fff insert
}

.tPages ul li.prev { margin-right: 2px; }
.tPages ul li.next { margin-left: 2px; }
.tPages ul li a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    color: #606060;
    font-size: 1em;
}
.tPages ul li.prev span,
.tPages ul li.next span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 1em;
}
.tPages ul li.prev a,
.tPages ul li.next a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 1em;
}
.tPages ul li.prev a:hover,
.tPages ul li.next a:hover {
    display: inline-block;
	background:#ccc ;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 1em;
}

.tPages ul li a:hover {
    text-decoration:underline
}
.tPages ul li.active span {
    color: #f86b1c;
    display: inline-block;
	font-weight:bold;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
	text-decoration:underline
}
.tPages ul li.active a {
    background: #6f6f6f;
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 0.9em;
}

