@charset "utf-8";

table caption {
	display:none
}

.tList,
.tList02,
.tInsert,
.tTimetable { 
	width:100%;
	word-break: break-all;
}

/* ======= tList ======= */
.tList { 
	border-top:3px solid #1b9a9f
}

.tList th {	
	font-size:12px;
	padding:0 5px;
	height:42px;
	line-height:42px;
	color:#585858;
	background:#e5f1ef;
	border-bottom:1px solid #dddddd
}
.tList td {
	font-size:12px;
	padding:10px 5px;
	color:#787878;
	text-align:center;
	background:#fff;
	border-bottom:1px solid #e8e8e8
}

.tList td.textL { text-align:left;padding:10px }
.tList td a { color:#787878 }

.tList td input[type="radio"] { margin-right:3px } 

.tList td.zoneselect {
	position:relative
}
.tList td.zoneselect .popup_zone {
	position:absolute;
	top:60%;
	right:0;
	text-align:left;
	width:400px;
	background:#fff;
	border:1px solid #333;
	z-index:100
}


/* ======= tInsert ======= */
.tInsert thead th,
.tInsert thead td {
	padding:0 5px;
	background:none;
	border:none
}

.tInsert th,
.tInsert td {	
	padding:10px;
	color:#787878;
	background:#fcfcfc;
	border:1px solid #e8e8e8;
}
.tInsert th {
	color:#292929
}
.tInsert td {
	background:#fff;	
	line-height:20px;
}
.tInsert td input[type="radio"] {
	vertical-align:-2px
}
.tInsert td.textL {
	text-align:left;
	padding:5px
}

.table_srcoll {	
	height:100px;
	overflow-y: auto;
	overflow-x: hidden;
}


/* ======= tList02 ======= */
.tList02 { 	
	border-top:2px solid #1b9a9f
}

.tList02 th {	
	font-size:11px;
	border-top:none;
	letter-spacing:-1px;
	padding:8px 2px;
	color:#585858;
	background:#e8fcff;
	border-bottom:1px solid #dddddd
}
.tList02 td {
	font-size:11px;
	padding:8px 3px;
	color:#787878;
	border-bottom:1px solid #e8e8e8;
	text-align:center;
	background:#fff
}
.tList02 th.textL,
.tList02 td.textL { text-align:left;padding:10px }
.tList02 td a { color:#787878 }


/* ======= board form ======= */
select {
	border:1px solid #dddddd ;
	padding:6px 4px;
	font-size:12px;
	line-height:25px; 
	letter-spacing:-1px;
	vertical-align:middle;
	color:#555;
}
textarea {
	border:1px solid #dddddd ;
	padding:6px 4px;
	font-size:13px;
	letter-spacing:-1px;
	color:#555;
}
input[type="text"], 
input[type="password"] {
	border:1px solid #dddddd ;
	padding:7px 4px;
	font-size:13px;
	letter-spacing:-1px;
	vertical-align:middle;
	color:#555;
	background:#fcfcfc
}
input[type="text"].date {
	background:url("../images/icons/icon_date.png") no-repeat right 6px
}


/* ===== Table pagination ===== */
.tPages { 
    text-align: center;
    margin: 12px 0;
}
.tPages ul li {
    display: inline-block;
    text-align: center;
    margin: 0 2px;	
    border: 1px solid #d3d3d3;
	background:#f7f7f7;
	box-shadow:0 1px 0 0 #fff insert
}

.tPages ul li.prev { margin-right: 2px; }
.tPages ul li.next { margin-left: 2px; }
.tPages ul li a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    color: #606060;
    font-size: 1em;
}
.tPages ul li.prev span,
.tPages ul li.next span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 1em;
}
.tPages ul li.prev a,
.tPages ul li.next a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 1em;
}
.tPages ul li.prev a:hover,
.tPages ul li.next a:hover {
    display: inline-block;
	background:#ccc ;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 1em;
}

.tPages ul li a:hover {
    text-decoration:underline
}
.tPages ul li.active span {
    color: #f86b1c;
    display: inline-block;
	font-weight:bold;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
	text-decoration:underline
}
.tPages ul li.active a {
    background: #6f6f6f;
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 0.9em;
}




/* === form === */
input[type=text]::-ms-clear { display: none; }

input[type="radio"],
input[type="checkbox"] { cursor: pointer; }

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
    border: 1px solid #cdcdcd;
    padding: 8px 7px 6px 7px;
    font-size: 12px;
    color: #4c4c4c;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 1px 0 0 #fff, 1px 1px 0 0 #ededed inset;
    vertical-align: middle;
}

input[readonly] { color: #999; background: #fafafa; }

/* === file upload === */
.file_up {
	position:relative;
	height:16px;
	width:340px;
	border: 1px solid #cdcdcd;
    padding: 8px 7px 6px 7px;
    font-size: 12px;
    color: #4c4c4c;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #fff, 1px 1px 0 0 #ededed inset;
}
.file_up .btn_file {
	position:absolute;
	right:2px;
	top:2px
}
.file_up input {
	opacity:0;
	position:absolute;
	left:0;
	top:2px
}


/* === datepicker === */
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 2px;
	opacity:0.5
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
	background: url("../images/icons/prev.png") no-repeat center 6px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
	background: url("../images/icons/next.png") no-repeat center 6px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
	background:#fdf5cc url("../images/icons/prev.png") no-repeat center 6px !important;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
	background:#fdf5cc url("../images/icons/next.png") no-repeat center 6px !important;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

/* states and images */
.ui-icon {
	width:16px;
	height:16px
}
.ui-icon-circle-triangle-w {
	background-image: url("../images/icons/prev.png") no-repeat center 6px !important;
}
.ui-icon-circle-triangle-e {
	background-image: url("../images/icons/next.png") no-repeat center 6px !important;
}